body{
    background: #888;
    font-family: sans-serif;
}

.keys{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.key{
    border: 2px solid #000;
    margin: 1Rem;
    text-align: center;
    padding: .5rem .5rem;
    font-size: 1rem;
    width: 10rem;
}

.sound{
    font-size: 1rem;
}